body {
	font-family: "EB Garamond", serif;
	font-size: 20px;
	padding: 24px;
	background-color: white;
	color: black;
	margin-left: 27%;
	margin-right: 27%;
}

h1 {
	font-family: "Playfair Display", serif;
	text-align: center;
	font-size: 52px;
	color: black;
	font-weight: 900;
}

h2 {
	color: black;
	font-size: 36px;
}

p {
	max-width: 100ch;
	line-height: 200%;
	font-family: "century gothic", serif;
	margin-bottom: 48px;
}

.introduction-paragraph {
	font-size: 36px;
	font-weight: bold;
}

.author {
	font-family: EB Garamond, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

span {
	background-color: red;
	color: white;
	font-weight: 600;
}

section {
	margin-top: 64px;
}

article {
	margin-top: 40px;
}

blockquote {
	line-height: 200%;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 24px;
}	