body {
	font-family: "EB Garamond", serif;
	font-size: 20px;
	padding: 24px;
	max-width:75ch;
}

h1 {
	font-family: "Playfair Display", serif;
	text-align: center;
	font-size: 52px;
	font-weight: 900;
}

h2 {
	font-size: 36px;
}

p {
	max-width: 100ch;
	line-height: 150%;
	font-family: "Didact Gothic", serif;
	margin-bottom: 48px;
	max-width:65ch;
}

.introduction-paragraph {
	font-size: 36px;
	font-weight: bold;
}

.author {
	font-family: "EB Garamond", sans-serif;
	font-size: 18px;
	font-weight: bold;
}

span {
	background-color: red;
	color: white;
	font-weight: 600;
}

section {
	margin-top: 64px;
}

article {
	margin-top: 40px;
}

blockquote {
	line-height: 150%;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 20px;
	font-family: "Didact Gothic", serif;
}	

.box {
	color:black;
	background-color: rgb(245, 245, 245);
	padding:100px;
	border-radius: 20px;
	border: 1px;
}


