body {
	font-family: "EB Garamond", serif;
	font-size: 20px;
	padding: 24px;
	max-width:75ch;
	margin: auto;
	
}

h1 {
	font-family: "Playfair Display", serif;
	text-align: center;
	font-size: 52px;
	font-weight: 900;
	font-style: normal;
}

h2 {
	font-size: 36px;
}

p {
	max-width: 100ch;
	line-height: 150%;
	font-family: "Didact Gothic", serif;
	margin-bottom: 40px;
	max-width:75ch;
	overflow: auto;
}

.introduction-paragraph {
	font-size: 36px;
	font-weight: bold;
}

.author {
	font-family: "EB Garamond", sans-serif;
	font-size: 18px;
	font-weight: bold;
}

em {
	background-color: rgb(255, 0, 0);
	color: white;
	font-weight: 600;
	font-size: 40px;
	line-height: 150%;
	font-style: normal;

}

section {
	margin-top: 64px;
}

article {
	margin-top: 40px;
}

blockquote {
	line-height: 150%;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 20px;
	font-family: "Didact Gothic", serif;
}	

.reflection {
	color:black;
	background-color: rgb(245, 245, 245);
	padding:100px;
	border-radius: 20px;
	border: 1px;
}

a:link {
	color:red;
}

a:hover {
	color:purple;
}

.quote {
	background-color: brown;
	font-size: 32px;
}

.subtitle {
	font-style: italic;
}

h1 {
	border-bottom: solid black 2px;
	padding-bottom: 2rem;

}